.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}


.nav-item .nav-link {
    font-family:'Bebas Neue', cursive;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar-container {
    padding: 20px 0 20px 0;
}
.navbar {
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-family: 'Bebas Neue', cursive;
}

.navbar-nav {
    text-decoration: none;
    padding: 0px;
    margin: 0px;

}

ol, ul{
    list-style:none;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section05 { background: url(../images/lambs-down.JPG) center center / cover no-repeat;}


#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}




#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption h3 {
    position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    } 
    .item:nth-child(1) {
      background: url('../images/grouse.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(2) {
      background: url('../images/owl.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
      background: url('../images/thaisey.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
    
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: animate 10s linear infinite;
}

.slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  transition: 0.5s;
}

.slider .slide .caption h2 {
  margin: 0 0 20;
  padding: 0;
  color: #fff;
  font-size: 48px;
  transition: 0.5s;
}

.slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .slider .slide .caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
  }
  .slider .slide .caption h2 {
    margin: 0 0 10;
    font-size: 30px;
  }
  .slider .slide .caption p {
    font-size: 16px;
  }
}

@keyframes animate {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image-responsive {
    overflow: hidden;
}

.container .slider .slide.image1 {
  background: url(../images/grouse.jpg);
  background-size: cover;
  background-position: center;
}


.container .slider .slide.slide3 {
  background: url(../images/owl.jpg);
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide4 {
  background: url(../images/roe-buck.jpg);
  background-size: cover;
  background-position: center;
}

.hidden-spacer {
    height: 56px
}
.about-section {
        margin: 20px 10px 20px 10px;

}

.card {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
.container {
    margin-top: 0px;
    padding-top: 0px;
}

#content {
    position:relative;
    z-index:200;
    width:100%;
    margin: 20px 10px 20px 10px;

    height: 100%;
}

.whatwedo-section {
    margin-top: 20px 10px 20px 10px;
}

.card {
    border: 1px solid #e5e5e5;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
    background-image: url("../images/hill.jpeg");
      min-height: 100%;

}

.bgimg-2 {
  background-image: url("../images/thaisey.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../images/roe-buck2.jpg");
  min-height: 100%;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.about-section {
    background-color:white;
    text-align:left;
    padding: 50px 20px 0px;
    font-size:small;
font-family: 'Bebas Neue', cursive;}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    color: #777;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}


p { 
    color: #777;
      margin-bottom: 0.5px;
      font-weight: lighter;
      text-align: left;
      font-size: x-small;
}

  
.caption span.border {
    color: #777;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}

h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    color: #777;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}



.container-contact {
  text-align: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    section {
      flex-basis: 33%;
    }
  }


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


